#container {
  width: 400px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #ccc;
  margin: -100px 0px 0px -200px;
  overflow: hidden;
}
#container #left-top {
  width: 100px;
  height: 100px;
  background-color: #FDC209;
  position: absolute;
  top: -50px;
  left: -50px;
  border-radius: 50px;
}
#container #right-bottom {
  width: 100px;
  height: 100px;
  background-color: #FDC209;
  position: absolute;
  left: 350px;
  top: 150px;
  border-radius: 50px;
}
