div#logo {
    position: fixed;
    box-shadow: 1px 1px 1px #006FC4;
    top: 30px;
    left: 100px;
    width: 100px;
    height: 100px;
    border-radius: 25px;
    overflow: hidden;
}

#logo img {
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0px;
    padding: 0px;
}
