*{
  font-family: SimHei;
  font-size: 20px;
  margin: 10px;
  border-radius: 5px;
}
form{
  width: 600px;
  margin: auto;
}
#inputText{
  width: 280px;
  height: 40px;
}
#validity{
  background-color: #6699cc;
  width: 100px;
  height: 40px;
  color: white;
  font-size: 17px;
}
p{
  font-size: 17px;
  padding-left: 60px;
  color: #a8a8a8;
}
