*{
  margin: 10px;
  font-family: SimHei;
}
table,th,tr,td{
  border: 1px solid black;
  width: 360px;
}
tr{
  height: 35px;
}
table{
  border-collapse: collapse;
}
button{
  width: 70px;
  height: 30px;
}
