#part-02{
  width: 960px;
  height: 140px;
  outline:1px solid #ededed;
  background: #ededed;
  font-family: SimHei;
  padding-top: 20px;
}
#part-02 #p2header{
  width: 90%;
  height: 20px;
  outline: 1px solid #ededed;
  margin-bottom: 5px;
  margin: auto;
  position: relative;
}
#part-02 #p2header span{
  font-size: 15px;
  position: absolute;
  bottom: 2px;
}
#part-02 #p2content{
  width: 90%;
  height: 100px;
  outline: 1px solid #ededed;
  margin-bottom: 15px;
  margin: auto;
}
#part-02 #p2content .p2content-a{
  width: calc(25% - 24px);
  height:calc(90% - 2px);
  float: left;
  margin-right: 20px;
  border-top:1px solid #ededed;
  border-bottom: 1px solid #ededed;
  border-right: 1px solid #ededed;
  position: relative;
  background: white;
}
#part-02 #p2content #p2content-1{
  border-left: 3px solid #5F9EA0;
}
#part-02 #p2content #p2content-2{
  border-left: 3px solid #009ACD;
}
#part-02 #p2content #p2content-3{
  border-left: 3px solid #CD5555;
}
#part-02 #p2content #p2content-4{
  border-left: 3px solid #EEDC82;
}
#part-02 #p2content .p2content-num{
  width: 20%;
  margin-left: 10px;
  float: left;
  position: absolute;
  bottom: 10px;
}
#part-02 #p2content .p2content-num .p2-p1{
  font-size: 15px;
}
#part-02 #p2content .p2content-num .p2-p2{
  font-size: 11px;
  color: grey;
  opacity: 0.7;
}
#part-02 #p2content .p2content-pic{
  width: 40%;
  margin-top: 20px;
  margin-right: 10px;
  float: right;
  height: 60%;
  /*outline: 1px solid black;*/
}
#part-02 #p2content #p2content-1 #p2content-1-2{
  background-color: #5F9EA0;
}
#part-02 #p2content #p2content-2 #p2content-2-2{
  background-color: #009ACD;
}
#part-02 #p2content #p2content-3 #p2content-3-2{
  background-color: #CD5555;
}
#part-02 #p2content #p2content-4 #p2content-4-2{
  background-color: #EEDC82;
}
